<app-header></app-header>


<div *ngIf="!loading else loadingTmpl">
    <div class="container my-container">
        <div class="row">
            <div class="col-xl-6 my-chart">
                <h5 style="text-align: center;">תיקים שנפתחו/נסגרו ב-30 יום האחרונים</h5>
                <h6 style="text-align: center;">תיקי הוצל"פ: נתוני דמו</h6>
                <app-daily-executiuon (dailyExecutionLoaded)="afterDailyExecutionLoaded()"></app-daily-executiuon>
            </div>
            <div class="col-xl-6 my-chart">
                <h5 style="text-align: center;">תיקים שנפתחו/נסגרו ב-30 יום האחרונים</h5>
                <h6 style="text-align: center;">תיקי המג"ק: נתוני דמו</h6>
                <!-- <div *ngIf="obs$ | withLoading | async as obs"> -->
                <app-daily-fines-collection></app-daily-fines-collection>
                <!-- </div> -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 my-chart">
                <h5 style="text-align: center;">תיקים שנפתחו/נסגרו ב-12 חודשים האחרונים</h5>
                <h6 style="text-align: center;">תיקי הוצל"פ: נתוני דמו</h6>
                <!-- <div *ngIf="obs$ | withLoading | async as obs"> -->
                <app-monthly-execution></app-monthly-execution>
                <!-- </div> -->
            </div>
            <div class="col-xl-6 my-chart">
                <h5 style="text-align: center;">תיקים שנפתחו/נסגרו ב-12 חודשים האחרונים</h5>
                <h6 style="text-align: center;">תיקי המג"ק: נתוני דמו</h6>
                <!-- <div *ngIf="obs$ | withLoading | async as obs"> -->
                <app-monthly-fines-collection></app-monthly-fines-collection>
                <!-- </div> -->
            </div>
        </div>

    </div>
</div>

<ng-template #loadingTmpl>
    <div class="loader"></div>
</ng-template>

<app-footer></app-footer>